/* You can add global styles to this file, and also import other style files */
@import '~@fortawesome/fontawesome-free/css/all.css';

// body {
//     padding-top: 56px; /* Adjust this value if the header height changes */
//   }

  html, body {
  //  overflow: hidden;
    margin: 0;
}

.vh-100 {
  height: 100vh;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-grow-1 {
  flex-grow: 1;
}

.bg-dark {
  background-color: #1588fb !important;
}

.text-light {
  color: #f8f9fa !important;
}

.p-3 {
  padding: 1rem !important;
}

.border-right {
  border-right: 1px solid #dee2e6;
}

main.content {
  margin-left: 250px; /* Adjust based on sidebar width */
  margin-top: 20px; /* Adjust based on header height */
  padding-bottom: 60px;
  overflow-y: auto; /* Enable vertical scrolling */
}

#sidebar {
  position: fixed;
  width: 250px;
  flex-shrink: 0;
  top: 56px;
  bottom: 0;
  overflow-y: auto;
  padding-top: 20px;
  background: #f8f9fa;
  border-right: 1px solid #dee2e6;
}

header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: #0B5ED7;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 1000;
}


.text-decoration{
  text-decoration: none;
}
